<div class="row">
    <div class="col-md-6">
        <button class="btn btn-danger btn-sm btn-block" (click)="reset()">
            Resetar
        </button>
    </div>
    <div class="col-md-6">
        <!-- <button class="btn btn-warning btn-sm btn-block" (click)="longestPath()">
            Opção 1
        </button> -->
        <button class="btn btn-warning btn-sm btn-block" (click)="shortestPath()">
            Conceitos de menor relevância
        </button>
        <button class="btn btn-warning btn-sm btn-block" (click)="dfs()">
            Todos os conceitos
        </button>
        <!-- <button class="btn btn-warning btn-sm btn-block" (click)="biggestCC()">
            Opção 4
        </button> -->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div *ngIf="(!showMostImportant && !showLeastImportant 
        && !showAllConcepts && !showMostComplex)" class="jumbotron">
            <h5>Todas as relações</h5>
            <p *ngFor="let conInit of conceptInit">
                <b><em>{{ conInit }}</em></b>
            </p>
        </div>
        <div *ngIf="showMostImportant" class="jumbotron">
            
        </div>
        <div *ngIf="showLeastImportant" class="jumbotron">
            <h5>Conceitos formados</h5>
            <p *ngFor="let conFinal of conceptFinal">
                <b><em>{{ conFinal }}</em></b>
            </p>
        </div>
        <div  *ngIf="showAllConcepts" class="jumbotron">
            
        </div>
        <div *ngIf="showMostComplex" class="jumbotron">

        </div>
    </div>
</div>